[core]
	editor = /usr/bin/vim

[push]
	default = simple

[user]
	name = Oriol Martí
	email = orimarti@gmail.com
[color]
	ui = always
[github]
	user = orimarti
	token =
[alias]
	ci = commit
	co = checkout
	st = status
	df = diff
	br = branch
	idx = diff --cached
	graph = log --graph --oneline --decorate
